[submodule "lbryum-server"]
	path = lbryum-server/lbryum-server
	url = https://github.com/lbryio/lbryum-server.git
[submodule "lbry"]
	path = lbrynet/lbry
	url = https://github.com/lbryio/lbry.git
[submodule "lbrynet/lbryum"]
	path = lbrynet/lbryum
	url = https://github.com/lbryio/lbryum.git
[submodule "lighthouse/lbry"]
	path = lighthouse/lbry
	url = https://github.com/lbryio/lbry.git
[submodule "lighthouse/lighthouse"]
	path = lighthouse/lighthouse
	url = https://github.com/lbryio/lighthouse.git
[submodule "lbryschema"]
	path = lbryschema
	url = https://github.com/lbryio/lbryschema.git
[submodule "lbrynet/lbryschema"]
	path = lbrynet/lbryschema
	url = https://github.com/lbryio/lbryschema.git
